.oi {color: red;}

.top20 { margin-top: 20px;  }

.bottom5  { margin-bottom: 5px;  }
.bottom10 { margin-bottom: 10px; }
.bottom20 { margin-bottom: 20px; }
.bottom30 { margin-bottom: 30px; }

.margin10 { margin: 10px; }
.margin30 { margin: 30px; }

.border15 { margin-left: 15px; margin-right: 15px; }
.border30 { margin-left: 30px; margin-right: 30px; }

.pull-right { float: right; }
.pull-left  { float: left; }

.middle-text { text-align: center; }

.pc90 { width: 90%; }

.error { color: red; }

.ellip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.col-xs-12 {padding: 0;}
input[disabled] {
  color: grey;
}

input[disabled]:hover {
  cursor: not-allowed;
}

button[disabled] {
  color: grey;
}

button[disabled]:hover {
  cursor: not-allowed;
}

td {
  padding-left: 5px;
  padding-right: 5px;
}

tr:hover {
  background-color: lightblue;
  cursor: pointer;
}

th {
  padding-left: 5px;
  padding-right: 5px;
  background-color: #A8A8A8;
  color: white;
  cursor: auto;
}